<mat-toolbar class="header-toolbar">
  <button mat-icon-button (click)="toggleSidebar()" aria-label="Icon of menu that open/close sidebar">
    <mat-icon>menu_open</mat-icon>
  </button>
  <span class="header-title">Product List App</span>
  <span class="header-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="content-container">
  <mat-drawer mode="side" [opened]="sidebarOpen" class="sidebar">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>