.header-spacer {
    flex: 1 1 auto;
}

.header-toolbar {
    background-color: darkblue;
    color:azure;
    .header-title {
        padding-left: 20px;
    }
}

.content-container {
    height:100%;
    border: 1px solid #ddd;
    min-height: 90vh;
}

.sidebar{
    background-color: aliceblue;
    height:100%;
    width: 250px;
}