<mat-card class="list-products">
    <mat-card-header>
        <mat-card-title>Listing All Products</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" matSort>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <th mat-cell *matCellDef="let element">{{element.id}}</th>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <th mat-cell *matCellDef="let element">{{element.name}}</th>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <th mat-cell *matCellDef="let element">{{element.description}}</th>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <th mat-cell *matCellDef="let element">{{element.price}}</th>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <th mat-cell *matCellDef="let element">{{element.category.name}}</th>
            </ng-container>

            <ng-container matColumnDef="available">
                <th mat-header-cell *matHeaderCellDef>Available</th>
                <th mat-cell *matCellDef="let element">{{element.available}}</th>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <th mat-cell *matCellDef="let element">
                    <a [routerLink]="['edit', element.id]"><mat-icon>edit</mat-icon></a>
                    <a [routerLink]="['delete', element.id]"><mat-icon>delete</mat-icon></a>
                </th>
            </ng-container>
            
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>